<div class="modal" id="edit-task-modal-{{ task.id }}">
  <div class="modal-background"></div>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit "{{ task.title }}" task</p>
        <button aria-label="close" type="button" (click)="onModalClose()" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input is-normal" type="text" formControlName="title">
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input is-normal" type="text" formControlName="description">
          </div>
        </div>
        <div class="field">
          <label class="label">Duration</label>
          <div class="control">
            <input class="input is-normal" type="datetime-local" formControlName="duration">

          </div>
        </div>
        <div class="field">
          <label class="label">Status</label>
          <div class="control">
            <div class="select">
              <select formControlName="status">
                <option>PLANNED</option>
                <option>STARTED</option>
                <option>PAUSED</option>
                <option>DONE</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="radio">
              <input type="checkbox" name="canEdit" formControlName="canEdit">
              Can edit?
            </label>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button
          type="submit"
          class="button is-success" >

          Save changes
        </button>
        <button class="button" type="button" (click)="onModalClose()">Cancel</button>
      </footer>
    </div>
  </form>

</div>
