<footer class="footer pb-6">
  <div
    class="container content has-text-centered is-flex is-justify-content-space-between is-align-items-center"
  >
    <h3 class="m-0">Clarify Organizing</h3>

    <div class="">
      <span class="icon is-large">
        <i class="fa-brands fa-facebook"></i>
      </span>
      <span class="icon is-large">
        <i class="fa-brands fa-instagram"></i>
      </span>
      <span class="icon is-large">
        <i class="fa-brands fa-twitter"></i>
      </span>
    </div>
  </div>
</footer>
