<nav
  aria-label="main navigation"
  class="navbar is-black px-5 py-4"
  role="navigation"
>
  <div class="navbar-menu" id="navbarBasicExample">
    <div class="navbar-start">
      <a class="has-text-primary is-size-4" routerLink="/">
        Clarity Organizing
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" routerLink="/documents"> Documents </a>
      <a class="navbar-item" routerLink="/task"> Tasks </a>
      <a class="navbar-item" routerLink="/helper"> Helper </a>
      <a class="navbar-item" routerLink="/user">
        <span class="icon">
          <i class="fa-solid fa-user"></i>
        </span>
      </a>
    </div>
  </div>
</nav>
