<section class="hero">
  <div class="hero-body has-text-centered is-justify-content-center">
    <div class="sign-up">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <div class="control">
            <input
              autocomplete="off"
              class="input is-medium is-rounded"
              placeholder="Username"
              required
              type="text"
              formControlName="username"
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input
              autocomplete="off"
              class="input is-medium is-rounded"
              max="110"
              min="6"
              placeholder="Age"
              required
              type="number"
              formControlName="age"
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input
              autocomplete="username"
              class="input is-medium is-rounded"
              placeholder="hello@example.com"
              required
              type="email"
              formControlName="email"
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input
              autocomplete="current-password"
              class="input is-medium is-rounded"
              placeholder="**********"
              required
              type="password"
              formControlName="password"
            />
          </div>
        </div>
        <br/>
        <button
          class="button is-block is-fullwidth is-primary is-medium is-rounded"
          type="submit"
        >
          Sign Up
        </button>
        <br/>
        <nav class="level is-flex">
          <div class="level-item has-text-centered">
            <div>
              <a class="has-text-primary" routerLink="/login"
              >Already has an account?</a
              >
            </div>
          </div>
        </nav>
      </form>
    </div>
  </div>
</section>
