<section class="is-dark">
  <div class="main-info-wrapper">
    <div class="background-cover">
      <div class="content">
        <h2 class="has-text-light">
          Efficient Personal Organization Solutions
        </h2>
        <p>
          Clarity Organizing is a personal organization business in Ukraine that
          helps people and businesses get organized, save time and money, and
          increase productivity. We provide professional organizing services in
          the home and office, along with customized solutions to meet
          individual needs.
        </p>
        <button class="button is-primary is-outlined" routerLink="/login">
          Authorize
        </button>
      </div>
    </div>
  </div>
</section>

<section class="feedback is-dark">
  <div class="content py-6 px-6">
    <p class="has-text-light">
      Clarity Organizing has been a crucial partner for our business in Ukraine.
      The team is extremely knowledgeable and professional in their approach to
      organizing and streamlining our processes. We are extremely pleased with
      the results and would highly recommend Clarity Organizing to any business
      looking to improve their efficiency in Ukraine.
    </p>
    <span> - Alex Smith, CEO, XYZ Corporation </span>
  </div>
</section>

<section class="services has-background-black py-6 px-6">
  <h3 class="has-text-light">Our Services</h3>

  <div class="card-list">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            alt="Placeholder image"
            src="https://upload.wikimedia.org/wikipedia/commons/d/da/1024px-Litomerice_from_Radobyl.jpg"
          />
        </figure>
      </div>

      <div class="card-content has-background-black-bis has-text-light">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 has-text-light">Document</p>
          </div>
        </div>

        <div class="content is-flex is-flex-direction-column">
          <p>Organizing, storing, and retrieving documents and records.</p>
          <a class="button mr-0 is-outlined is-primary" routerLink="/document">
            More Info
          </a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            alt="Placeholder image"
            src="https://upload.wikimedia.org/wikipedia/commons/d/da/1024px-Litomerice_from_Radobyl.jpg"
          />
        </figure>
      </div>

      <div class="card-content has-background-black-bis has-text-light">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 has-text-light">Tasks Management</p>
          </div>
        </div>

        <div class="content is-flex is-flex-direction-column">
          <p>
            Planning and managing available time to efficiently accomplish
            tasks.
          </p>
          <a class="button mr-0 is-outlined is-primary" routerLink="/document">
            More Info
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about is-dark">
  <div class="content py-6 px-6">
    <h4 class="has-text-light">About us</h4>
    <p class="has-text-light">
      I'm excited to announce the arrival of Clarity Organizing in Ukraine!
      Clarity Organizing is a personal organization business focused on helping
      our clients create a more efficient and organized lifestyle. We strive to
      help you declutter your home, office, and life by providing a tailored
      plan to help you organize and store your items. We also offer coaching
      services to help you develop and maintain a more organized home and
      lifestyle. <br />
      <br />
      At Clarity Organizing, we understand how difficult it can be to find the
      right balance between a busy lifestyle and a cluttered home. We believe
      that organization is key and that having a clear space allows for more
      productivity. We are here to help you develop the tools and strategies
      necessary to keep your life organized and running smoothly. <br />
      <br />
      Our team of experienced professionals are ready to help you achieve the
      level of organization you desire. Contact us today to learn more about how
      we can help you get organized!
    </p>
  </div>
</section>
