
.content-wrapper {
  background-color: #111111;
  height: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  //height: 100%;

  .app-footer {
    margin: auto auto 0 auto;
    width: 100%;
  }
}
