<section class="hero">
  <div class="hero-body has-text-centered is-justify-content-center">
    <div class="login">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field">
          <div class="control">
            <input
              autocomplete="username"
              class="input is-medium is-rounded"
              placeholder="Please enter you login"
              required
              type="text"
              formControlName="email"
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input
              autocomplete="current-password"
              class="input is-medium is-rounded"
              placeholder="**********"
              required
              type="password"
              formControlName="password"
            />
            <span class="error" *ngIf="errorMessage">Please enter right password</span>
          </div>
        </div>
        <br />
        <button
          class="button is-block is-fullwidth is-primary is-medium is-rounded"
          type="submit"
        >
          Login
        </button>
      </form>
      <br />
      <nav class="level is-flex">
        <div class="level-item has-text-centered">
          <div>
            <a class="has-text-primary" routerLink="/sign-up"
              >Create an Account</a
            >
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
